    /** {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #262626;
}

.inner_footer {
    margin: 0 auto;
    display: block;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img {
    width: 100px;
    height: auto;
}

.inner_footer .footer_third {
    width: calc(21.6666666667 - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner_footer .footer_third:last_child {
    margin-right: 0;
}

.inner_footer .footer_third h1 {
    font-family: 'arial';
    font-size: 22px;
    color: #fff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a {
    font-family: 'arial';
    font-size: 14px;
    color: #fff;
    display: block;
    font-weight: 100;
    width: 100%;
    margin-bottom: 5px;
}

.inner_footer .footer_third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner_footer .footer_third span {
    color: #fff;
    font-family: 'arial';
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}

@media (max-whidth :600px) {
    .footer.inner_footer {
        width: 90%;
    }
}

.inner_footer .logo_container,
.inner_footer {
    width: 100%;
    margin-bottom: 30px;
}*/
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    body {
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .footer-container {
        max-width: 1170px;
        margin: auto;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    ul {
        list-style: none;
    }
    
    .footer {
        background-color: #101010;
        padding: 70px 0;
    }
    
    .footer-col {
        width: 25%;
        padding: 0 15px;
    }
    
    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    
    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .footer-col ul,
    li,
    a {
        font-size: 18px;
        text-transform: capitalize;
        color: #ffffff;
        font-weight: 300;
        text-decoration: none;
        color: #bbbbbb;
        display: block;
        transition: 0.3s ease;
    }
    
    .footer-col ul li a:hover {
        color: #ffffff;
        padding-left: 8px;
    }
    
    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin-right: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    
    .footer-col .social a :hover {
        color: #24262b;
        background-color: #ffffff;
    }
    
    @media(max-width:767px) {
        .footer-col {
            width: 50%;
            margin-left: 30px;
        }
        @media(max-width:574px) {
            .footer-col {
                width: 100%;
                margin-left: 30px;
            }
        }
    }