body {
    background-image: url(./img/pexels-cottonbro-4489743.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 100% 100%;
    height: 100vh;
}

.nav-area {
    font-family: 'Poppins';
}

.nav-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.nav-area ul li {
    width: 25%;
}

.nav-area ul li>ul {
    display: none;
    flex-direction: column;
}

.nav-area ul li>ul li {
    width: 100%;
}

.nav-area ul li:hover>ul {
    display: flex;
}

.nav-area a {
    text-transform: uppercase;
    display: block;
    background-color: #262626;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.nav-area a:hover {
    background: #909090;
    color: #fff;
}

.nav-area .drop-down li>a:hover {
    background: #909090;
}

@media (max-width:600px) {
    .nav-area ul li {
        width: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 200px;
    display: block;
    background-color: #101010;
}

.inner_header {
    width: 80%;
    height: 100%;
    /*background-image: url('./img/pexels-cottonbro-4489743.jpg');*/
    display: block;
    margin: 0 auto;
    background-color: #ff0000;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: #ffffff;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 45px;
}

.logo_container h1 span {
    font-weight: 800;
}